<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/678ee4d480.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="w-full h-screen grid grid-flow-cols grid-cols-[2fr_5fr]">

        <!-- Left Portion of the page -->
        <div class="w-full h-full bg-yellow-200 border border-black flex items-start justify-center gap-1">
            <!-- Top Left part -->
            <div class="w-full h-20 bg-gray-200 flex flex-col gap-2 items-center justify-center">
                <div class="w-full flex gap-2">
                    <div><i class="fa-brands fa-whatsapp fa-xl"></i></div>
                    <p>Welcome, Prem</p>
                </div>
                <input class="w-90 mx-2 p-2 h-10 rounded-xl border-black border-2" type="text" placeholder="Search">
            </div>
        </div>

        <!-- Right Portion of the page -->
        <div class="w-full h-full bg-white border border-black flex items-start justify-center gap-1">
            <!-- Top Right part -->
            <div class="w-full h-13 bg-black flex gap-2 items-center justify-center">
                <div class="w-full flex gap-1 items-center justify-start overflow-hidden">
                    <img class="mx-1 w-8 h-8 object-cover rounded-full" src="https://shoppershine.com/wp-content/uploads/2021/01/SS-PS104-1.jpg" alt="">
                    <p class="text-white">UserName</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>