<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/678ee4d480.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="w-full h-screen border border-black flex flex-col items-center justify-center gap-5">
        <div class="w-80 h-10 bg-yellow-200 rounded-xl flex border border-black items-center justify-center gap-1">
            <div><i class="fa-brands fa-whatsapp fa-xl"></i></div>
            <span>Chat'sApp signup</span>
        </div>
        <form class="p-4 w-80 bg-blue-300 rounded-xl border border-black flex flex-col items-center justify-center gap-2" action="/signup" method="POST">
            <input required type="text" class="m-2 p-2 bg-white rounded-xl border border-black w-full h-8" placeholder="Username" name="username">
            <input required type="email" class="m-2 p-2 bg-white rounded-xl border border-black w-full h-8" placeholder="Email" name="email">
            <input required type="number" class="m-2 p-2 bg-white rounded-xl border border-black w-full h-8" placeholder="Mobile Number" name="mobileNumber">
            <input required type="password" class="m-2 p-2 bg-white rounded-xl border border-black w-full h-8" placeholder="Password" name="password">
            <!-- <input required type="file" class="m-2 p-2 bg-white rounded-xl border border-black w-full h-8" placeholder="Add Profile Picture" name="file"> -->
            <button class="m-2 p-2 rounded-xl text-gray-400 bg-yellow-200 text-center border border-black w-full h-10" type="submit">Submit</button>
        </form>
    </div>

</body>

</html>